@model FiveGold.Models.Mapeamento.Despesa

<script src="~/Content/Mascara-de-valores/jquery.mask.js"></script>
<script>
    $(document).ready(function () {
        $('#Valor').mask('###.##0,00', { reverse: true });
        $("#preloader").hide();
    })

    $("form").on("submit", function (e) {
        $('#Valor').val(String($("#Valor").val()).replace(".", ""));
    })
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-header" style="background-color:red">
        <h3 class="modal-title" style="color:white;">Editar Despesa &nbsp;<i class="fas fa-sort-amount-down"></i></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row col-sm-12" style="background-color:rgba(255,0,0,0.1); margin-left:0px; padding-top:10px">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDDespesa)
        @Html.HiddenFor(model => model.UserId)

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Pago, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Pago)
                        @Html.ValidationMessageFor(model => model.Pago, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.IDCatDespesa, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.DropDownList("IDCatDespesa", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDCatDespesa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IDConta, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.DropDownList("IDConta", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDConta, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-danger col-md-12" />
                </div>
            </div>
        </div>
    </div>
}
